<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="envolucaoImplantacoes"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Comparativo de implantações por mês</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> </span>Evolução das
                            implantações por mês dos ultimos anos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>